# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dylib

# Distribution / packaging
.env
.env.*
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/

# Miscellaneous
*.swp
*.log
.coverage
